{% extends "base.html" %}
{% block content %}
<div>
    <p>
    <h1 align='center'>{{images.cat1.text}}</h1>
    <center>
        <img align='center' width="512" height="512" src={{images.cat1.url}}>
    </center>

    <p>
    <h1 align='center'>{{images.cat2.text}}</h1>
    <center>
        <img align='center' width="512" height="512" src={{images.cat2.url}}>
    </center>

    <p>
    <h1 align='center'>{{images.cat3.text}}</h1>
    <center>
        <img align='center' width="512" height="512" src={{images.cat3.url}}>
    </center>

    <p>
        {{images.c4.c2}}
    </p>
</div>
{% endblock %}